/** DO NOT TOUCH THIS AREA OR YOUR THEME WILL NOT WORK**/
@import url("library.css");
/** DO NOT TOUCH THIS AREA OR YOUR THEME WILL NOT WORK**/

/** CONFIG START **/
/** make sure this link is a direct link to the actual image you want to use, this is just an example image **/

body:before {
    background-image: url("http://blog.hdwallsource.com/wp-content/uploads/2014/11/blur-photos-26354-27045-hd-wallpapers.jpg");
}


.dashboard-widget-small-box .element,
.dashboard-widget-small-box i {
    color: #212121 !important;
}
/*This colors the caption / subtext of the widget area*/
.dashboard-widget-small-box .caption{
  color: #212121 !important;
}

/* this colors the titles of most things */
h1,h2,h3,h4,h5,h6 {
    color: #212121 !important;
}

/* This colors the text of most of the content */
.content,
.news-block span {
    color: #212121 !important;
}

/*  this colors most of the links */
a {
    color: #212121;
    transition: all .3s ease-in-out;
}

/* this colors the hover effect of a link */
a:hover {
    color: #212121;
}

/* this colors the text when creations a package */
.pkg-step {
    color: #212121;
}

/*changes text color in footer*/
.footer, .version{
  color:#212121;
}
/*Changes icon color of server*/
.srv-box .fa {
    color: #212121 !important;
}
/*Changes icon hover color of server*/
.srv-box .fa:hover {
    color: #424242 !important;
}

/*Changes color of the text in most regular buttons*/
.btn-prom, .btn-prom:hover{
  color:#212121;
}

/* this controls the color of text in search boxes, etc. */
.form-horizontal,
.form-group, .categoryLink, .form-control {
    color: #212121;
}

/*this changes the button (category button) hover effect*/
.categoryLink:hover{
  color: #424242;
}

/* this colors the headers / titles of main boxes / menus */
.header {
    color: #212121;
}



/* this colors content in the lower span of the package box */
.store-box-lower {
    color: #212121
}

/* this colors the sub headers in the admin panel side bar */
.main-menu-box ul.sub-menu .submenu-header {
    color: #212121;
}

/* this colors the links in the admin panel side bar */
.main-menu-box a,
a:hover {
    color: #212121;
}

/*this colors the terms of service link*/
.tos-link {
    color: #212121 !important;
}
/*changes the active color of the admin panel navbar*/
.dashboard-nav a,.dashboard-nav a.active{
color: #212121;
}

/*changes admin panel version market text color*/
.version-marker{
  color:#212121;
}

/*this colors the effect of terms of service link*/
.tos-link:hover {
    color: #424242 !important;
}

/* this colors the default text color effect when hovering a default button*/
.btn-default:hover {
    color: #424242 !important
}

/** this colors all content inside a table */
.table-striped thead,
.table-striped > tbody > tr:nth-of-type(odd),
.panel-body .panel-inner,
.form-control {
    color: #212121;
}

/*this colors the text of the header of the package*/
.store-box-header {
    color: #212121;
}
/* color of pricing */
.store-box-upper span{
    color: #212121;
}

/*this changed the text color of the buy button*/
.buy-btn{
  color:#212121;
}

.buy-btn:hover{
    color:#424242;
}
/*this colors the text of the header of the featured package*/
.featured-header{
  color:#212121;
}
/*this colors the info alerts / callouts*/
.bs-callout{
  color:#212121;
}

/** this changes the text color of the server label*/
a .srv-label{
  color:#212121;
}
/** this changes the hovered text color of the server label*/
a .srv-label:hover, a:hover .srv-label{
  color:#424242 !important;
}

/* this colors username / profile name of tickets and profile area, along with stats / graphs */
.ticket-header, .stat-box-header, .panel-body > .panel-header {
    color: #212121;
}

/* this colors the even content of striped tables */
.table-striped > tbody > tr:nth-of-type(even),
#sortable li {
    color: #212121;
}

/* this colors the nav bar and dashboard nav bar links and it's hover effect */
.navbar-inverse .navbar-nav > li > a,
.dashboard-nav a:hover {
    color: #424242;
}

/* This colors the effect of the navbar link*/
.navbar-inverse .navbar-nav > li > a:hover {
    color: #424242;
}

/* This colors the active color of the navbar link*/
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #212121;
}

/* this colors the links in the drop down main nav bar*/
.dropdown-menu > li > a{
  color:#212121 !important;
}

/* this colors the text of the progress bar*/
.progress-bar{
  color:#212121;
}
/** config end **/
